In [1]:
import mysql.connector

In [3]:
#connecting to the database
db = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'bree@2023.N'
)

In [4]:
#Check if the connection is successful
if db:
    print("Connection successful")

Connection successful

In [5]:
#creating a cursor to the db
c = db.cursor()

In [6]:
#Executing SQL statements using the cursor
c.execute("CREATE DATABASE pythonSQL")

In [7]:
#SQL statement to show databases
c.execute("SHOW DATABASES")

In [11]:
#Printing the databases
for  database in c:
    print(database)

('information_schema',)
('mysql',)
('performance_schema',)
('pythonsql',)
('sys',)

In [12]:
#using the database created earlier
c.execute("USE pythonSQL")

In [13]:
#creating a table - Persons
c.execute( "CREATE TABLE Persons (PersonID int,LastName varchar(255),FirstName varchar(255),Address varchar(255),City varchar(255))")

In [14]:
#Creating Employees table
c.execute("CREATE TABLE employees (id INT AUTO_INCREMENT PRIMARY KEY, EmployeeNo Varchar(255), FirstName Varchar(255), LastName Varchar(255), Age INT, Role Varchar(50))")

In [15]:
#Altering employees table by adding a column
c.execute("ALTER TABLE employees ADD Column Phone varChar(255)")

In [17]:
#Creating departments table 
c.execute("CREATE TABLE Departments (id INT AUTO_INCREMENT PRIMARY KEY, name varChar(255), Head INT, FOREIGN KEY (Head) REFERENCES employees(id))")

In [18]:

c.execute("ALTER TABLE employees ADD COLUMN DepartmentID INT")

In [19]:
#Adding foreign key to employees table
c.execute("ALTER TABLE employees ADD FOREIGN KEY (DepartmentID) REFERENCES departments(id)")

In [20]:
c.execute("SELECT * FROM employees")

In [21]:
for row in c:
    print(row)

In [22]:
#Inserting values into a table
c.execute("INSERT INTO Departments (name) VALUES ('Human Resources'), ('Engineering'), ('Marketing')")

In [23]:
c.execute("SELECT * FROM Departments")

In [24]:
for row in c:
    print(row)

(1, 'Human Resources', None)
(2, 'Engineering', None)
(3, 'Marketing', None)